*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ball{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 25px;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.red{
    background-color: #EA4436;
    animation-delay: 0.2s;
}
.blue{
    background-color: #4285F5;
    animation-delay: 0.25s;
}
.green{
    background-color: #34A952;
    animation-delay: 0.5s;
}
.yellow{
    background-color: #FBBD06;
    animation-delay: 0.7s;
}

@keyframes loading {
    50%{
        transform: translateY(30px);
    }
}